.month-count {
  display: flex;
  margin-bottom: 25px;
  align-items: center;

  @media (max-width: 768px) {
    margin-bottom: 23px;
  }

  @media (max-width: 480px) {
    flex-direction: column;
    align-items: flex-start;
  }

  .month-count-heading {
    margin-right: 38px;
    color: #000;
    font-size: 14px;

    @media (max-width: 768px) {
      margin-right: 36px;
    }

    @media (max-width: 480px) {
      margin-bottom: 10px;
      margin-right: 0;
    }
  }

  .month {
    padding: 10px 12px;
    border-radius: 50px;
    background-color: #eef0f2;
    font-size: 14px;
    font-weight: 400;
    transition: background-color 0.2s, color 0.2s;

    &:not(:last-child) {
      margin-right: 9px;
    }

    &.chosen {
      color: #fff;
      background-color: #ff5e56;

      &:hover {
        background-color: #ff5e56;
      }
    }

    &:hover {
      background-color: #dfe3e6;
    }
  }
}

.format-wrapper {
  margin-bottom: 47px;

  @media (max-width: 768px) {
    margin-bottom: 80px;
  }

  @media (max-width: 480px) {
    margin-bottom: 0;
  }

  .payment {
    margin-bottom: 15px;
    color: #000;
    font-size: 14px;

    @media (max-width: 768px) {
      margin-bottom: 20px;
    }
  }

  .formats {
    display: flex;
    margin-bottom: 31px;

    @media (max-width: 768px) {
      margin-bottom: 24px;
    }

    .option {
      background-color: #eef0f2;
      border-radius: 50px;
      color: #000;
      font-size: 14px;
      transition: background-color 0.2s, color 0.2s;

      &:first-child {
        padding: 10px 16px;
      }

      &:nth-child(2) {
        padding: 10px 12px;
      }

      &:not(:last-child) {
        margin-right: 6px;
      }

      &.chosen {
        color: #fff;
        background-color: #ff5e56;

        &:hover {
          background-color: #ff5e56;
        }
      }

      &:hover {
        background-color: #dfe3e6;
      }
    }
  }
}

.result {
  color: #000;
  font-size: 24px;
  font-weight: 400;

  @media (max-width: 480px) {
    font-size: 20px;
  }
}

.add {
  background-color: #ff5e56;
  padding: 18px;
  width: 100%;
  border-radius: 6px;
  transition: background-color 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background-color: #ea0029;
  }

  @media (max-width: 480px) {
    position: absolute;
    padding: 12px;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    width: calc(100% - 32px);
    font-size: 12px;
  }
}
