.month-count {
  display: flex;
  margin-bottom: 25px;
  align-items: center;

  .month-count-heading {
    margin-right: 38px;
    color: #000;
    font-size: 14px;
  }

  .month {
    padding: 10px 12px;
    border-radius: 50px;
    background-color: #eef0f2;
    font-size: 14px;
    font-weight: 400;
    transition: background-color 0.2s, color 0.2s;

    &:not(:last-child) {
      margin-right: 9px;
    }

    &.chosen {
      color: #fff;
      background-color: #ff5e56;

      &:hover {
        background-color: #ff5e56;
      }
    }

    &:hover {
      background-color: #dfe3e6;
    }
  }
}

.format-wrapper {
  margin-bottom: 30px;

  .payment {
    margin-bottom: 15px;
    color: #000;
    font-size: 14px;
  }

  .formats {
    display: flex;

    .option {
      background-color: #eef0f2;
      border-radius: 50px;
      color: #000;
      font-size: 14px;
      transition: background-color 0.2s, color 0.2s;

      &:first-child {
        padding: 10px 16px;
      }

      &:nth-child(2) {
        padding: 10px 12px;
      }

      &:not(:last-child) {
        margin-right: 6px;
      }

      &.chosen {
        color: #fff;
        background-color: #ff5e56;

        &:hover {
          background-color: #ff5e56;
        }
      }

      &:hover {
        background-color: #dfe3e6;
      }
    }
  }
}

.result {
  margin-bottom: 48px;
  color: #000;
  font-size: 24px;
  font-weight: 400;
}

.add {
  background-color: #ff5e56;
  padding: 18px;
  width: 100%;
  border-radius: 6px;
  transition: background-color 0.2s;
  color: #fff;
  font-size: 16px;
  font-weight: 500;

  &:hover {
    background-color: #ea0029;
  }
}
